<template>
  <section class="app-main">
    <transition name="fade-transform" mode="out-in">
      <!-- or name="fade" -->
      <!-- <router-view :key="key"></router-view> -->
      <el-scrollbar wrap-class="scrollbar-wrapper">
        <router-view/>
      </el-scrollbar>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'AppMain',
  computed: {
    // key() {
    //   return this.$route.name !== undefined ? this.$route.name + +new Date() : this.$route + +new Date()
    // }
  }
}
</script>

<style lang='less' scoped>
.app-main {
  /*50 = navbar  */
  height: calc(100vh - 51px);
  position: relative;
  overflow: hidden;
  /deep/.el-scrollbar {
    height: 100%;
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }
    .el-scrollbar__bar .el-scrollbar__thumb {
      background-color: rgba(144,147,153,.5);
    }
  }
}
</style>
